$washa-font-family: "Lato", sans-serif;
$image_src_path: "../images"; //use #{$image_src_path} to add it to the path


$menu-width: 250px;

//Colors
$brand-color: #3498db;
$main-headline-color: #333333;


//Queries
$break-lg:1200px;
$break-md: 992px;
$break-sm: 768px;
$break-xs: 480px;
